
.subtitle {
    font-size: 24px;
    font-weight: 600;
    margin: 50px;
}


ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
    color: #2E2F42;
    font-family: Montserrat;
    letter-spacing: 0.04em;
    font-style: normal;
    border-radius: 8px;
    background: #FFF;
}
/* =========================Task 1 ===================================== */
#categories {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: #FFF;
}

.title {
   
    font-size: 24px;
    font-style: normal;
    font-weight: 600;    
    margin-bottom: 0px;
    margin-top: 0px;
  
}

.item {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #F6F6FE;
}

.item-list {
    width: 360px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    
    padding-top: 8px;
    padding-bottom: 8px;
  
}
.title-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* ========================= Task 2 ======================== */


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
    width: 1440px; 
    padding: 100px 156px;
}

/* ============================== Task 3 ============================ */

#name-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
}
/* ================================= Task 4 =========================== */

.login-form {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid #808080;
    border-radius: 8px;
    background: #FFF;

}

.login-label {
    display: flex;
    width: 360px;
    height: 40px;
    flex-direction: column;
}

.form-btn {    
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background: #4E75FF;
    padding: 8px 16px;
}
/* ============================= Task 5 ============================= */